        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;

        }



        table {
            border-collapse: collapse;
            width: 60%;
            text-transform: uppercase;
            max-width: 70%;
            
        }

        .blue {
            border: 2px solid #1ABC9C;
        }

        .blue thead {
            background: #1ABC9C;
        }

        .blue thead:hover {
            border: 2px solid #9B59B6;
            background: #9B59B6;
        }


        thead {
            color: white;

        }

        th,
        td {
            text-align: center;
            padding: 5px 10px;
           
        }
      

        th {
            height: 50px;
        }

        tbody tr:nth-child(even) {
            background: #ECF0F1;
        }

        tbody tr:hover {
            background: #BDC3C7;
            color: #FFFFFF;
        }
