{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload </title>
    <link rel="stylesheet" href="{% static 'css/upload2.css'%}">
</head>

<body>

    <div class="container">


        <div class="mainholder">
            <div><img src="{% static 'img/avatar-1.svg' %}" alt=""></div>
            <div>
                <h1>Hi {{user}}</h1>
            </div>
            <div>
                <button type="button" id="btn">Let's Begin </button>
            </div>

        </div>
    </div>
    <form id="videoform" method="post" enctype="multipart/form-data" onsubmit="return submitVDFORM(event)">
         {% csrf_token %}
        <div class="modal">
            <div class="modal-header">
                <div class="title">upload videos</div>
                <div>
                    <button type="button" class="feedback"
                        onclick="window.open('https://github.com/Android-Club-VITAP/BEAT-THE-HEAT/discussions/categories/show-and-tell')"><img
                            src="{% static 'img/feeback.svg' %}" alt="feedback" title="send feedback"></button>
                    <button type="button" class="btn-close"><img src="{% static 'img/times-solid.svg' %}" alt="close"
                            title="Close"></button>
                </div>
             </div>

   

            <div class="modal-body">

                <div class="hide">

                    <img src="{% static 'img/upload.svg' %}">
                </div>
                <div class="hide">
                    Select files to upload
                </div>
                <div class="hide">
                   <!-- <input type="file" name="vdfile" id="vdinput">-->
                       {{form.video}}

                </div>

                <div class="unhide">
                    <div class="captions">
                        <div> <label for="id_captions"> Caption </label></div>
                     <!--   <input type="text" id="cap">-->
                           {{form.captions}}
                        <input type="url" id="output2" name="thumbIMG" style="display:none;">
                         <div class="progress-bar" id="progressbar">

                             <div class="progress-bar-filler">
                                 <span class="progress-bar-text"> 0% </span>
                             </div>

                         </div>
                    </div>
                    <div class="videopreview">
                        <label for="vdid">PREVIEW</label>
                 <!--      <video id="vdid"
                            src="http://commondatastorage.googleapis.com/gtv-videos-bucket/sample/ForBiggerBlazes.mp4"
                            controls></video>  -->

                               <video id="video2" controls="controls" src=""
                                   style="display: block ; visibility: hidden;">


                    </div>

                </div>
                <div class="unhide btncenter">
                     <button type="submit" id="capture">UPLOAD VIDEO</button>
                    <a href="#">Link to the video</a>
                </div>

            </div>
            <div class="footermodal">
                <p>
                    By submitting your videos to Dance Club's, you acknowledge that you agree to Dance Club's Terms of
                    Service
                    and
                    Club Guidelines.</p>

                <P> Please be sure not to violate others' copyright or privacy rights. <a
                        href="https://github.com/Android-Club-VITAP/BEAT-THE-HEAT" target="_blank">Learn more </a> </P>


            </div>
        </div>
    </form>
    <div class="bg-overlay"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{% static 'js/uploadsjs.js' %}"></script>
    <script>
        let modal = document.getElementsByClassName('modal')[0];
        let btn = document.getElementById('btn');
        let modalbody = document.getElementsByClassName('modal-body')[0];

        let overlay = document.getElementsByClassName('bg-overlay')[0];

        let btnclose = document.getElementsByClassName('btn-close')[0]

        btnclose.addEventListener('click', () => {
            overlay.classList.remove('active');
            modal.classList.remove('activemod');
        });

        btn.addEventListener('click', () => {

            modal.classList.add('activemod');
            overlay.classList.add('active');

        });
        let ele = document.getElementsByClassName('hide')

        let vdinput = document.getElementById('video');
        vdinput.addEventListener('change', () => {

            for (let i = 0; i < ele.length; i++)
                ele[i].style.display = 'none';
            document.getElementsByClassName('unhide')[0].style.display = 'flex';
            document.getElementsByClassName('unhide')[1].style.display = 'flex';

        });
    </script>
</body>

</html>