{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="{% static 'css/uploadStyle.css'%}" />
    <title>Title</title>
  </head>
  <body>
   <header class="site-header">
        <div class="site-identity">
          <h1><a href="#">Beat The Heat</a></h1>
        </div>
        <nav class="site-navigation">
          <ul class="nav">
            <li><a href="/upload">Upload</a></li>
            <li><a href="/videos">Videos</a></li>
            <li><a href="/videos/MQ">Marks</a></li>
            <li><a href="/bitdance/moderator/">Moderators</a></li>
            <li><a href="/bitdance/GodMode/">View Marks</a></li>
          </ul>
        </nav>
      </header>
      
    <div class="container">
      <form class="form" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %} 
        {{form.as_p}}
        <input type="url" id="output2" name="thumbIMG" style="display: none" />
        <button type="submit" id="capture">UPLOAD VIDEO</button>
        <progress id="progressBar" value="0" max="100" style="width:300px;"></progress>
      </form>
      
        <video id="video2" controls="controls" src=""></video>
    <h2><a href="/upload/videos/">GO TO GALLERY</a></h2>

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script>
      $(document).ready(function () {
        $("#video").change(function () {
          call();
        });
      });
      var video;
      var scale = 1;

      function call() {
        var file_Selected = document.getElementById("video");
        file_Selected_file = file_Selected.files[0];
        var fileUrl = window.URL.createObjectURL(file_Selected_file);
        var obj = document.getElementById("video2");
        obj.src = fileUrl;
      }
      var initialize = function () {
        $("#capture").click(captureImage);
      };

      var captureImage = function () {
        video = $("#video2").get(0);
        var canvas = document.createElement("canvas");
        canvas.width = video.videoWidth * scale;
        canvas.height = video.videoHeight * scale;

        canvas
          .getContext("2d")
          .drawImage(video, 0, 0, canvas.width, canvas.height);
        var out = document.getElementById("output2");
        out.value = canvas.toDataURL();
      };
      initialize();
    </script>
  </body>
</html>
