<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{data.captions}}</title>
</head>
<body>
         <div style="display :flex; flex-direction:column; justify-content: center;">
          <div>
          <video controls="controls"   width="500px" height="500px">
             <source src="{{data.video.url}}"  type="video/mp4"/>
          </video>
              <h1>{{data.captions}}</h1>
              <h3>by {{data.username}} DATE :{{data.date}}</h3>
              <h3>ID :{{data.id}}</h3>
          <br>
          </div>
          {% if  user.is_authenticated and MODES %}
           <form  method="post">
             {% csrf_token %}
             marks: <input type="number" name="video_marks">
            <button type="submit">SUBMIT</button>
           </form>
           {% endif %}


      </div>
         {% if user.is_authenticated %}
         {% if MODES  or user.is_staff %}
      <div>
       <ol>
        {% for j in Marks %}
           <li>{{j.marks}} by-{{j.moderator_email}}</li>
         {% endfor %}
       </ol>
      </div>
         {% endif %}
         {% endif %}

</body>
</html>